


:root {
    --cor-vinho: #4A0E0E;
    --cor-dourado: #C5A059;
    --cor-texto-claro: #FFFFFF;
    --cor-branco: #FFFFFF;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar {
    background-color: var(--cor-vinho);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar .logo {
    color: var(--cor-dourado);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--cor-dourado);
}

/* LINHAS DE VINHOS - FLEXBOX BÁSICO */
.vinho-linha {
    display: flex;
    align-items: center;
    padding: 40px 5%;
    width: 100%;
}

/* CLARO: Foto Esquerda, Texto Meio, Botão Direita */
.vinho-linha.claro {
    background-color: var(--cor-branco);
    color: black;
    flex-direction: row; 
}

/* ESCURO: Foto Direita, Texto Meio, Botão Esquerda (Inverte tudo) */
.vinho-linha.escuro {
    background-color: var(--cor-vinho);
    color: white;
    flex-direction: row-reverse; 
}

.foto-vinho {
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.descricao-vinho {
    flex: 1;
    padding: 0 40px;
    text-align: center;
}

.preco-botao {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.preco {
    font-size: 1.3rem;
    font-weight: bold;
}

/* BOTÕES - Estilo básico para aparecerem bem */
.botao {
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

/* Cor do botão quando o fundo é branco */
.vinho-linha.claro .botao {
    background-color: var(--cor-vinho);
    color: white;
}

/* Cor do botão quando o fundo é vinho (Dourado para destacar!) */
.vinho-linha.escuro .botao {
    background-color: var(--cor-dourado);
    color: var(--cor-vinho);
}

.botao:hover {
    filter: brightness(1.2);
}

footer {
    background-color: #050505;
    color: #b1b1b1;
    text-align: center;
    padding: 2rem;
    font-size: 0.85rem;
}

footer p {
    margin-bottom: 0.5rem;
}


